In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/mnt/d/Development/Projects/invest-bot/research'

In [3]:
with open('data/imoex.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

In [7]:
df

              o        h        l        c  v                  time source
0       2153.92  2154.10  2153.81  2154.08  0  2022-12-30T15:20:00Z      t
1       2154.08  2154.22  2153.98  2154.13  0  2022-12-30T15:21:00Z      t
2       2154.16  2154.26  2153.93  2154.07  0  2022-12-30T15:22:00Z      t
3       2154.09  2154.16  2153.96  2154.04  0  2022-12-30T15:23:00Z      t
4       2154.02  2154.16  2153.56  2153.79  0  2022-12-30T15:24:00Z      t
...         ...      ...      ...      ... ..                   ...    ...
129995  3096.27  3096.32  3096.05  3096.32  0  2023-12-22T15:37:00Z      t
129996  3096.27  3096.30  3096.00  3096.21  0  2023-12-22T15:38:00Z      t
129997  3096.18  3096.85  3096.07  3096.59  0  2023-12-22T15:39:00Z      t
129998  3096.59  3096.59  3096.59  3096.59  0  2023-12-22T15:40:00Z      t
129999  3092.58  3092.58  3092.58  3092.58  0  2023-12-22T15:51:00Z      t

[130000 rows x 7 columns]

In [10]:
df = df.drop(columns=["source", "v"])
df = df.rename(columns={'o': 'open', 'h': 'high', 'l': 'low', 'c': 'close'})
df

           open     high      low    close                  time
0       2153.92  2154.10  2153.81  2154.08  2022-12-30T15:20:00Z
1       2154.08  2154.22  2153.98  2154.13  2022-12-30T15:21:00Z
2       2154.16  2154.26  2153.93  2154.07  2022-12-30T15:22:00Z
3       2154.09  2154.16  2153.96  2154.04  2022-12-30T15:23:00Z
4       2154.02  2154.16  2153.56  2153.79  2022-12-30T15:24:00Z
...         ...      ...      ...      ...                   ...
129995  3096.27  3096.32  3096.05  3096.32  2023-12-22T15:37:00Z
129996  3096.27  3096.30  3096.00  3096.21  2023-12-22T15:38:00Z
129997  3096.18  3096.85  3096.07  3096.59  2023-12-22T15:39:00Z
129998  3096.59  3096.59  3096.59  3096.59  2023-12-22T15:40:00Z
129999  3092.58  3092.58  3092.58  3092.58  2023-12-22T15:51:00Z

[130000 rows x 5 columns]

In [11]:
df.to_csv('data/imoex.csv', encoding='utf-8', index=False)